<h1>Forgot Password Page</h1>
<h5 class="text-danger">Please provide the email address connected to the account</h5>
<form asp-action="ForgotPassword" asp-controller="Account" method="post">
    <div>
        <label class="control-label">Email</label>
        <input type="text" name="Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>